@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: url(images/3.jpg);
    background-size: cover;
    height: 100vh;
}

.form {
    display: block;
    background-color: white;
    height: 402px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
}

span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: black;
    margin: 20px;
}

.form__input {
    background-color: #cfcfcf;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}
